* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0b90b1;
    --secondary-color: #002e3a;
    --tertiary-color: #abc8ca;
}
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--tertiary-color);
    margin: 0px;
}
/* Header/Navigation Bar*/
header {
    background-color: var(--secondary-color);
    flex-wrap: wrap;
    padding: 15px 15px 15px 0;
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 5px 5px 5px 50px;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    padding: 20px 40px 20px 40px;
}
header nav ul {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 15px;
    font-size: 2vw;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

.hero {
    background-image: url(./leopard.jpg);
    background-position: center;
    justify-content: end;
    background-size: cover;
    display:flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 80px 0 20px 0;
}
.hero p {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
}

/* About Me Section*/
.subsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1 15%;
    justify-content: end;
    border-right: 5px solid var(--secondary-color);
    padding-right: 15px;
    text-align: right;
}

.subsection h2 {
    color: var(--secondary-color);
    font-size: 3vw;
}
.subsection-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px;
  }
.subsection-img img {
    width: 75%;
    margin-left: 40px;
}
.subsection-img {
    flex: 1 12%;
    margin-right: 20px;
}
.subsection-bio {
    flex:12;
}
#about-me {
    display: flex;
    flex-wrap: row;
    padding-bottom: 15px;
} 

/*Work Section*/

#work {
    display: flex;
    padding-bottom: 15px;
}

.work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1 15%;
    justify-content: end;
    border-right: 5px solid var(--secondary-color);
    padding-right: 15px; 
}

.run-buddy {
    background-image: url(./run-buddy.jpg);
    background-position: top;
    justify-content: flex-start;
    background-size: cover;
    display:flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 150px 80% 20px 0;
    border: 3px solid var(--primary-color);
    opacity: 75%;
    color: var(--secondary-color)
}
.run-buddy:hover {
    opacity: 100%;
}
.link {
    width:100%;
    text-decoration: none;
}
 .work-box {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
 }
 .top {
     font-size: 1.5vw;
     margin-bottom: 0;
     background-color: var(--primary-color);
     flex:1 100%;
     padding: 5px 2px 0px 15px;
 }
 #small-print {
     font-size: 1vw;
     background-color: var(--primary-color);
     margin-top: 0;
     flex:1;
     padding: 2px 2px 5px 15px;
 }

 .work h2 {
    color: var(--secondary-color);
    font-size: 3vw;
 }
 .bottom-one, .bottom-two {
    background-position: top;
    justify-content: flex-start;
    background-size: cover;
    display:flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 20px;
    border: 3px solid var(--primary-color);
    opacity: 75%;
    color: var(--secondary-color);
    flex:2 45%;
    margin-top: 20px;
}
.bottom-one:hover, .bottom-two:hover {
    opacity:100%;
}
.bottom-one {
    background-image: url(./future-1.jpg);
    margin-right: 2%;
}
.bottom-two {
    background-image: url(./future-2.jpg);
}
#one, #two {
    font-size: 1.5vw;
    background-color: var(--primary-color);
    margin-top: 0;
    padding: 2px 15px 5px 15px;
}
/*Contact Me/Footer*/
footer {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 3VW;
}
.contact {
    display: flex;
    align-items: center;
    flex: 1 15%;
    text-align: right;
    justify-content: end;
    border-right: 5px solid var(--secondary-color);
    padding-right: 15px;
}
.contact-info {
    flex:2 70%;
    margin: 15px;
    align-self: center;
}
.contact-info ul {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none; 
    padding-bottom: 0;
} 
.contact-info ul li a {
    padding: 10px;
    font-size: 2vw;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 3px solid var(--secondary-color);   
}
  
  /* MEDIA QUERY FOR 768PX AND SMALLER */
  @media screen and (max-width: 768px) {
    .subsection-img {
        flex: 1 30%;
    }
    header {
        justify-content: center;
        position: relative;
        padding: 0;
      }
    
      header h1 {
        width: 100%;
        margin-bottom:0;
        text-align: center;
        font-size: 6vw;
      }
    
      header nav ul {
        width: 100%;
        justify-content: center;
      }

      header nav ul li a {
        font-size: 3vw;
      }

    .subsection-info {
        flex-direction: column;
    }

    #about-me {
        flex-direction:column;
    }

    .subsection {
        border-right: none;
        border-bottom: 5px solid var(--secondary-color);
        justify-content: center;
    }

    .subsection-img {
        margin: 0;
        text-align: center;
    }
    .subsection-img img {
        margin:0;
    }

    .work {
        flex-direction: column;
        border-right: none;
        border-bottom: 5px solid var(--secondary-color);
    }
    .work h2, .subsection h2, .contact h2 {
        font-size: 5vw;
    }
#work {
    flex-direction: column;
}
  
#contact-me {
    flex-direction: column;
}

.contact {
    border-bottom: 5px solid var(--secondary-color);
    border-right: none;
    justify-content: center;
    
}


  /* MEDIA QUERY FOR 575PX AND SMALLER */
  @media screen and (max-width: 575px) {    
.work-box {
    flex-direction: column;
}
.bottom-one, .bottom-two {
    margin:none;
    width: 100%;
}  
.contact-info ul {
    flex-direction: column;
    padding:0;
    margin-top: 0;
}
.contact-info ul li a {
    border-bottom: none;
    font-size: 3vw;
  }
}
